.App {
  text-align: center;
}

.quotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  background-color: lightcoral;
}

.block {
  height: 500px;
}

.right {
  background-color: lightgreen;
}
